
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

#root {
  position: relative;

  display: flex;
  flex-direction: column;
  row-gap: 2rem;

  width: 100%;

}

#__next {
  height: 100vh;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgb(221 218 213);
}

::-webkit-scrollbar-thumb {
  background-color: #3f4244;
  border: 2px solid rgb(221 218 213);
  border-radius: 20px;
}

.graphql-input {
  height: 40px;
  border-radius: 5px;
  border: 1px solid #ffffff;
  outline: #ffffff 1px;
}

.graphql-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
  padding: 10px 0;
}

.graphql-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
  background-color: lightgrey;
  border-radius: 8px;
  padding: 5px 15px;
}

.graphql-sidebar {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100%;
  padding: 5px;
}

.sidebar-tool {
  display: flex;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
}

.graphql-editor {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  height: 100%;
  margin: 10px 0;
}

.graphql-textarea-wrapper {
  flex-basis: 70%;
}

.graphql-textarea {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  border: 1px solid #ffffff;
  outline: #ffffff 1px;
}
