* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  position: relative;

  display: flex;
  flex-direction: column;
  row-gap: 2rem;

  width: 100%;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgb(221 218 213);
}

::-webkit-scrollbar-thumb {
  background-color: #3f4244;
  border: 2px solid rgb(221 218 213);
  border-radius: 20px;
}

.graphql-input {
  height: 40px;
  border: 1px solid #fff;
  border-radius: 5px;
  outline: #fff 1px;
}

.graphql-wrapper {
  display: flex;
  flex-flow: row nowrap;

  width: 100%;
  height: 100%;
  padding: 10px 0;
}

.graphql-container {
  display: flex;
  flex-flow: column nowrap;

  width: 100%;
  height: 100%;
  padding: 5px 15px;

  background-color: lightgrey;
  border-radius: 8px;
}

.graphql-sidebar {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  padding: 5px;
}

.sidebar-tool {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;
}

.graphql-editor {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  justify-content: space-between;

  height: 100%;
  margin: 10px 0;
}

.graphql-textarea-wrapper {
  flex-basis: 70%;
}

.graphql-textarea {
  width: 100%;
  height: 100%;

  border: 1px solid #fff;
  border-radius: 5px;
  outline: #fff 1px;
}
