:root {
  --color-hovered: #01579b;
  --color-background: #06a56c;
  --color-text: #f5f5f5;
  --color-header-text: rgb(80 80 80 / 100%);
  --color-header-background: rgb(255 255 255);
  --color-disabled: rgb(80 80 80 / 100%);
  --overlay-color: rgba(0 0 0 / 70%);
}
