.sticky {
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  left: 0;

  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;

  height: 70px;
  padding: 10px;

  background-color: #fff;
  box-shadow: 0 2px 5px rgb(0 0 0 / 10%);

  transition: all 0.5s;
}

.sticky.scroll {
  height: 70px;
  background: #5B483A;
  transition: all 0.5s;
}

.wrapper {
  display: flex;
  flex-flow: row nowrap;
  column-gap: 10px;
  align-items: center;
  justify-content: flex-end;
}
