.switch_container {
  display: flex;
  column-gap: 5px;

  @media (width <= 750px) {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    column-gap: 10px;
  }
}

.button {
  min-width: 50px;
  height: 36.5px;
  padding: 10px;
}

.button:disabled {
  pointer-events: none;
  min-width: 50px;
  color: white;
  background-color: #4e4e4e;
}
