.left {
  position: relative;

  overflow: hidden;
  display: flex;
  flex-flow: column nowrap;

  width: 40%;
  max-width: 99%;
  padding-right: 4px;

  background-color: white;
  border: 1px solid #e5e5e5;
  border-radius: 10px;

  @media (width <= 750px) {
    flex: 1;
    width: 100%;
  }
}

.editorarea {
  position: relative;
  display: flex;
  flex-grow: 1;

  @media (width <= 750px) {
    flex-direction: column-reverse;
  }
}

.settings {
  display: flex;
  flex-flow: column nowrap;
}

.header {
  height: 40px;
  padding: 5px;
}

.editor {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.tools {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;

  padding: 15px;

  color: green;

  @media (width <= 750px) {
    align-self: center;
  }
}

.icon {
  cursor: pointer;
  opacity: 0.5;
  transition: 0.3s;
}

.icon:hover {
  cursor: pointer;
  opacity: 1;
}

.resizer-vertical {
  cursor: col-resize;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;

  width: 4px;

  opacity: 0.2;
  background-color: #3c74ff;

  transition: opacity 0.3s;
}

.resizer-horizontal {
  right: 0;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 3px;

  opacity: 0.2;
  background-color: #3c74ff;

  transition: opacity 0.3s;
}

.resizer-vertical:hover,
.resizer-horizontal:hover {
  opacity: 1;
}

.right {
  flex: 1;
  padding: 10px 20px;

  @media (width <= 750px) {
    flex: 0 1;
    width: 100%;
    height: fit-content;
  }
}

.textareawrapper {
  resize: none;

  display: flex;
  flex-grow: 0;

  width: 100%;
  height: 100%;
  padding: 10px;

  font-size: 14px;
}

.textarea {
  max-width: 50%;
  height: 100%;

  border: 1px solid #fff;
  border-radius: 5px;
  outline: #fff 1px;
}

.editor-wrapper {
  display: flex;
  flex-grow: 1;
}

.circular-progress {
  display: flex;
  margin: 0 auto;
}
