.main {
  display: 'flex';
  flex-flow: row wrap;
  flex-grow: 1;
  align-items: 'center';
  align-self: center;
  justify-content: 'center';

  width: '100%';
  height: '100%';
}

.container {
  display: flex;

  @media (width <= 1050px) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.image {
  @media (width <= 1050px) {
    width: 300px;
    height: 150px;
  }
}
